
.CheckoutForm {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
}

.CheckoutForm label {
    width: 30%;
    color: #999
}

.Checkout .CartItem-delete {
    display: none;
}

.Checkout .ItemsContainer {
height: auto;
    max-height: 25rem;
   border-bottom: solid 1px #ededed ;
}