body * {
    font-family: 'Kumbh Sans', sans-serif;

}

h1 {
    font-family: 'Italiana', serif;
}

.Principal-button {
    font-size: 1rem;
    background-color: #291E3E;
    text-align: center;
    font-weight: 500; 
    color: #fff;
    text-decoration: none;
    width: 100%;
    margin: auto;
    padding: .25rem .5rem;
    border-radius: .25rem;
    border:none;
    }
    

    .Secondary-button {
        font-size: 1rem;
        background-color: #F1DFEA;
        border: solid 1px #F1DFEA;
        text-align: center;
        font-weight: 800; 
        color: #291E3E;
        text-decoration: none;
        width: 100%;
        margin: auto;
        padding: .25rem .5rem;
        border-radius: .25rem;

        }
    .Input-field {
        border: none;
        font-size: 1rem;
        font-weight: bolder;
        padding: .25rem;
        border: solid 1px #ededed;
        

    }